<div class="pins-list-item">
    <div class="read-only-mode" *ngIf="item && !edit">
        <h3 class="title">{{item.id}}. {{item.title}}</h3>
        <p class="price">Total price: ${{item.price}}</p>
    </div>

    <form class="edit-mode" (submit)="onFormSubmit($event)" *ngIf="item && edit">
        <span class="identifier">{{item.id}}</span>
        <span class="title">
            <input type="text" [(ngModel)]="item.title" name="title" autocomplete="off" placeholder="Title">
        </span>
        <span class="price">
            <input type="number" min="0" [(ngModel)]="item.price" placeholder="Price" name="price">
        </span>
        <input type="submit" value="" [disabled]="!item.title">
    </form>
</div>